
<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' localhost:6544 'unsafe-inline' 'unsafe-eval' data:;"/>
    <title>{% trans %}GNUKhata v7.0{% endtrans %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/font-awesome.min.css')}}">
    <link href="{{request.static_url('gkwebapp:static/css/mainshellstyle.css')}}" rel="stylesheet" type="text/css">
    <style>
     .content{ margin-top:4%
     }
     .shadow {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #ticker {
         display: none;
     }
     .gknav{
         background-color: #fafafa;
     }
     /* .gknav .navbar-brand {
        /* color: white; */
     } */
     .gknav .navbar-nav > li > a {
         /* color: white; */
    	 color:#696969;

     }
     .gknav .navbar-nav > li > a:hover, .gknav .navbar-nav > li > a:focus {
         background-color: black;
         color: white;
         border-radius: 2px;
     }
     ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:focus{
         background-color: #bfbfbf;
         border-style: solid;
         border-color: #2a1278;
         border-width: 2px;
         border-radius: 2px;
     }
     .gknav .navbar-nav > .open > a,
     .gknav .navbar-nav > .open > a:hover,
     .gknav .navbar-nav > .open > a:focus {
         background-color: #eee;
         color: #333;
         border-radius: 2px;
     }
     .gknav .navbar-nav > .active > a,
     .gknav .navbar-nav > .active > a:hover,
     .gknav .navbar-nav > .active > a:focus {
         color: #333;
         background-color: #eee;
         border-radius: 2px;
     }
     .gknav .navbar-nav > li > a:hover,
     .gknav .navbar-nav > li > a:focus {
         color: #666666;
         background-color:#f6f6f6; 
     }
     .panel{
         border-color: rgb(87,93,99);
     }
     .panel-heading, .panel-title {
         background-color: rgb(87,93,99);
         color: white;
     }
     .thead {
         background-color: #a3a3a3;
     }
     .footer {
         position: fixed;
         right: 0;
         bottom: 0;
         left: 0;
         padding-top: 1rem;
         background-color: #bfbfbf;
         text-align: center;
     }
     .icon-bar {
         color: white;
         border-color: black;
         background-color: white;
     }
     @media (max-width: 767px) {
         .footer {
             position: relative;
         }
         #selectorg{
             background-color: white;
             color: black;
         }
         #createorg{
             background-color: white;
             color: black;
         }
         #containerdiv {
             max-width:500px !important;
         }
     }
     .modal-header {
         background-color: rgb(87,93,99);
         color: white;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
     }
     .vertical-alignment-helper {
         display:table;
         height: 100%;
         width: 100%;
         pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
     }
     .vertical-align-center {
         /* To center vertically */
         display: table-cell;
         vertical-align: middle;
         pointer-events:none;
     }
     .modal-content {
         /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
         width:inherit;
         height:inherit;
         /* To center horizontally */
         margin: 0 auto;
         pointer-events: all;
     }
     .icon-bar {
         color: black;
         border-color: white;
         background-color: black;
     }
     .close {
         color: white !important;
         opacity: 0.8 !important;
     }
     .close:hover {
         color: white !important;
         opacity: 2 !important;
     }

     .bgcolor{
         background-color:#1b2631;
     }
     .namestyle{
	 color:#ff7f2a;
	 text-shadow: 0.3px 0.3px 0.6px gray;
	 font-size: 20px; 
	 margin-left: -15px;
     }
     option {
	 min-height: 15px !important;
	 padding-top: 7px !important;
     }
     .selectdropdown {
	 width:100%;
	 text-align:left !important;
     }
     .selectinput {
	 margin:4px !important;
	 width: 98% !important;
     }
    </style>

    <!-- ClickJacking Defence Code -->
    <style id="antiClickjack">body{display:none !important;}</style>
    <script type="text/javascript">
     if (self === top) {
       var antiClickjack = document.getElementById("antiClickjack");
       antiClickjack.parentNode.removeChild(antiClickjack);
     } else {
       top.location = self.location;
     }
    </script>




  </head>
  <body style="overflow-x:hidden; background-color: #fafafa">
    <div id="logodiv" style="position:relative; height:100vh">
      <div class="panel text-center shadow" style="margin:0; position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">
        <div id="welcomemessage" style="padding:1%; font-weight:bold; font-size:2.5em; color:grey; margin-top:2%;">
          {% trans %}Welcome to GNUKhata!{% endtrans %} <button type="button" class="close" id="closesplash" style="color: grey; opacity:2; box-shadow:3px 3px 3px 3px #fafafa">&times;</button>
        </div>
        <div class="row">
          <div style="position:relative; padding:5%;">
            <img class="img-responsive" src="{{request.static_url('gkwebapp:static/images/gnukhata_icon.png')}}" alt="GNUKhata Icon" style="max-width:200px;max-height:200px; display: block; margin-left: auto; margin-right: auto ">
          </div>
        </div>
        <div id="firstmessage" style="padding:10px; font-weight:bold; color:grey; margin-left: auto; margin-right: auto ">
         <h4> {% trans %}Manage your business with complete freedom.{% endtrans %}</h4>
         <h4> {% trans %}Simple invoicing and account automation.{% endtrans %}</h4>

        </div>
      </div>
    </div>
    <div id="contentdiv" hidden>
      <nav class="navbar gknav navbar-fixed-top">
        <div class="container-fluid" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19)">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" id="navbarlink" class="navbar-toggle" data-toggle="collapse" data-target="#gknavcollapse" aria-expanded="false">
              <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin-top:-5px;" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:30px;height:30px;" /></a>
            <a class="navbar-brand namestyle readable_design" href="">{% trans %}GNUKhata{% endtrans %}</a>
            <a class="navbar-brand" style="margin-left:-20px">v7.0</a>
          </div>
          <!-- <div id="ticker" hidden>
               <ul class="nav navbar-nav brand" style="margin: auto">
               <li><a data-toggle="tab" style="display: block; color: #333; padding: 1px 1px; font-weight: bold; text-decoration: none;" id="orgdata" href=""></a></li>
               <li><a style=" display: block; color: #333; padding: 1px 1px;font-weight: bold; text-decoration: none;" id="yeardata" href=""></a></li>
               </ul>
               </div> -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="gknavcollapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a data-toggle="tab" id="selectnav" class="navbarlink" href="#selectorg"> <span class="sr-only">{% trans %}Select Existing Company{% endtrans %}</span>{% trans %}Select <u>E</u>xisting Company{% endtrans %}</a></li>
              <li><a data-toggle="tab" id="createnav" class="navbarlink" href="#createorg">{% trans %}<u>C</u>ompany Setup Wizard{% endtrans %}</a></li>
              <!--  
                   <li class="dropdown">
                   <a href="" id="lang" class="dropdown-toggle mastermenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>L</u>anguage{% endtrans %} </a>
                   <ul class="dropdown-menu">
                   <li><a  class="langmenu" id="mar" href="/locale?language=en">{% trans %}English{% endtrans %}</a></li>
                   <li><a  class="langmenu" id="mar" href="/locale?language=mr">{% trans %}मराठी{% endtrans %}</a></li>
                   <li><a  class="langmenu" id="mar" href="/locale?language=ml">{% trans %}മലയാളം{% endtrans %}</a></li>
                   </ul>
                   </li>-->

              <li><a class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" id="csh" data-target="#Mcsh"></a></li>

            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

      </nav>
      <br />
      <div id="Mcsh" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog bgcolor">
          <div class="modal-content ">
            <div class="modal-header">
              {% trans %}<strong>Help!</strong>{% endtrans %}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> </div>
            <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

              <p>   <font color=" #566573"> {%trans%}

                This screen provides you with two options: Select Existing Company and Company Setup Wizard. <br><br>
                If you are running GNUKhata for the first time then Company Setup Wizard Tab will be active by default. In this module you have to enter the name of company, choose it's type (Profit Making or Not for Profit ) and then enter the financial year. You can then set a few preferences for your company. You can change them later at any point of time from the Company Preferences screen in Administration Menu if you are an admin.</br><br>
                You can select 3 modes of operations varying in the number of features they provide.<br><br>
                The least number of features comes with the Accounting only option. Choose this option if you only wish to maintain books of account.
                Choose the option Invoicing with Billwise Accounting if you wish to record and create invoices along with book keeping and bill tracking against payments and receipts.
                Inventory with Invoicing and Billwise Accounting option provides you the complete set of inventory and accounting related features.<br><br>
                Note that you can use enter key to move to the next field and up arrow to move to earlier field. Tab and Shift tab options are also available by default for navigation.<br><br>
                Keep Use Simple Mode for Receipt and Payment Vouchers checked if you wish to use an easy interface for creating these vouchers. Uncheck this checkbox if you prefer the conventional interface.<br><br>
                If Generate Accounting Entries for Documents checkbox is checked accounting entries happen automatically when you create documents like Invoice,Cash Memo,Debit Note and Credit Note. You can choose whether a single sales/purchase ledger account or a sale/purchase ledger account per product is used to create automatic accounting entries.<br><br>
                Check Use System Generated Voucher Numbering if you would like GNUKhata to generate voucher numbers instead of manually entering them.<br><br>
                Clicking the Proceed button takes you to a screen that lets you create a profile for your company. If GST is applicable on your products/services make sure you add GSTIN(s) of your company and choose the GST rates applicable to them.<br><br>
                Next screen will allow you to create admin user. Once admin user is created you are logged in and taken to the dashboard.The said user will have all access rights.<br><br>
                If you have already created a company you will be presented the Select Existing Company screen. Select Company from the dropdown and press enter. Now choose financial year and press enter. Login screen will appear after this. {% endtrans %} </font>

              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="container-fluid" id="ticker" hidden style="margin-top:30px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); margin-left: 10px; margin-right: 10px">
        <ul style="list-style-type: none;  padding: 0;  margin-bottom:0px;overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
          <li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
          <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
        </ul>
      </div>
      <div id="containerdiv" class="container-fluid" style="margin-top:30px;">
        <div class="row">
          <div class="tab-content col-sm-12">

            <div id="selectorg" class="tab-pane fade in active">

            </div>
            <div id="createorg" class="tab-pane fade">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ClickJacking Defence Code -->
    <style id="antiClickjack">body{display:none !important;}</style>
    
    <script type="text/javascript">
     if (self === top) {
       var antiClickjack = document.getElementById("antiClickjack");
       antiClickjack.parentNode.removeChild(antiClickjack);
     } else {
       top.location = self.location;
     }
    </script>  
    <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/index.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.browser.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.searchabledropdown-1.0.8.min.js')}}"></script>
  </body>
</html>
